*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "../partials/colors.scss";

body{
    font-family: 'Montserrat', regular;
    position: relative;
    background-image: $colorbackground;
    color: $colorfont;
    }

button{
    cursor: pointer;
    animation: btt 0.3s forwards;
    font-family: 'Montserrat', regular;
    background-color: $colorbutton;
    color: $colorfont;
    border: 0;
    border-radius: 98px;
    padding: 10px;
    text-align: center;
}

button:hover{
    background-color: $colorbuttonhover;
    animation: btranslate 0.3s forwards;
    transition: background-color 0.3s, color 0.3s;
}


.htitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32pt;
    margin-top: 100px;
    animation: btt 0.3s forwards;
}


#blanguage{
    position: fixed;
    left: 0;
    bottom: 20px;
    margin-left: 20px;
}

#bhelp{
    position: fixed;
    bottom: 20px;
    right: 0;
    margin-right: 20px;
}

#bvoltar{
    position: fixed;
    top: 10px;
    margin-left: 20px;
}

#bcarrinho{
    position: fixed;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

.h2desc{
    animation: btt 0.5s forwards;
}

.uldesc{
    margin-top: 2px;
    margin-left: 30px;
    margin-bottom: 12px;
    margin-right: 50px;
    animation: btt 0.5s forwards;
}

.uldesc:last-child{
    margin-bottom: 0px;
}

.baddp{
    font-size: 15pt;
    width: 150px;
}

.dheader{
    display: flex;
}

table{
    margin-top: 50px;
    background-color: $colortable;
    border-radius: 18px;
    margin: 0 auto;
    animation: btt 0.3s forwards;
}

#tabops{
    justify-content: center;
    align-items: center;
    width: 180px;
    display: flexbox;
    height: 180px;
    margin-top: 30px;
}


#tabpview{
    padding: 20px;
    margin-top: 30px;
}

.bbuy{
    margin-left: 20px;
    font-size: 13pt;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 120px;
    justify-content: center;
    background-color: $colorbselect;
    color: $colorfont;
}

.bbuy:hover{
    background-color: $colorbselecthover;
    transition: color 0.3s;
    animation: btranslate 0.3s forwards;
    transition: background-color 0.3s, color 0.3s;
}

.bbuy:last-child{
    margin-bottom: 0;
}

@keyframes btranslate{
    from{
       transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@keyframes btt{
    from{
        transform: scale(1.2);
     }
     to{
         transform: scale(1);
     }
}