
$colorbackground: linear-gradient(to right, #430E3C, #8D1B7D);
$colorbutton: #aaaaaa9a;
$colorbuttonhover: rgba(0, 50, 158, 0.4);
$colorfont: #f0f8ff;
$colortable: #aaaaaa9a;
$colorbselecthover: #0099ff;
$colorbselect: #0085FF;

